# Node modules (for React)
frontend/node_modules/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/          
env/
.venv/

# Environment variable files
*.env

# VSCode settings (optional but common)
.vscode/

# OS junk files (optional but recommended)
.DS_Store
Thumbs.db

# Test/experimental folders

# Ignore CSVs in backend
!backend/data/.gitkeep

#Ignore .bat file
start_sign_glove.bat

#Ignore tts_cache
!backend/tts_cache/.gitkeep

#Ignore testing
!backend/tests/